@import "../../../styles.scss";

.main-container {
  display: flex;
  flex-direction: column;

  max-width: 32rem;

  margin: auto;

  padding-top: 3rem;
}

.notes-list {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

app-note-card {
  display: block;
  margin-bottom: 1.5rem;
}

.floating-add-button {
  position: fixed;
  bottom: 0;
  width: 32rem;
  border-radius: 4px;

  box-shadow: 0px 0px 15px 5px rgba($purple, 0.2);

  height: 2rem;
  font-size: 1rem;
}
